*{
	margin: 0;
	padding: 0;
}
.nav-bar{
	display:flex;
	flex-wrap: wrap;
	flex-direction:row;
	background-color:#444;
	justify-content: space-between;
	padding: 40px;
	color:#fff;
}
.doggos {
	position: relative;
	top: 0;
	left: 0;
	right: 0;


}
.doggos .dog-img{
width: 100vw;	
}
@keyframes spin {
	to{
		transform: rotateZ(340deg)
	}
	
} 
.spinner {
	font-size:50px;
	text-align: center;
	animation: 2s spin linear;
	display:none;

}
.dog-img{
	display:none;
}
.show{
	display:block;
}